# compiled output
/dist
/node_modules
*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Env
.env
.env.*.local

# Prisma / SQLite
/prisma/dev.db
/prisma/dev.db-journal
